body {
  background: #F2F2F2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 10em;
}

h3 {
  font-size: 2.5em;
  padding-bottom: 1em;
}

.game-stats, .game-board {
  margin: auto;
}

h1, .game-stats, .announcement {
  text-align: center;
}

/*Score Styles*/

.game-stats {
  width: 400px;
}

.game-stats div {
  float: left;
  width: 200px;
}

.game-stats span {
  font-size: 5em;
}

/*Game Styles*/

#box1, #box7 {
  border-left: 5px black solid;
  border-right: 5px black solid;
}

#box4 {
  border: 5px black solid;
}

#box3, #box5 {
  border-bottom: 5px black solid;
  border-top: 5px black solid;
}

.game-board {
  clear: both;
  /*Avoiding inline-block spacing issues*/
  font-size: 0;
  padding-top: 30px;
  width: 310px;
}

.square {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.computer {
  background: url('/assets/o-piece.png');
}

.player {
  background: url('/assets/x-piece.png');
}

.played {
  cursor: not-allowed;
}

/*Lose, Draw, Win styles*/
.hidden {
  display: none;
}

.announcement {
  background: rgb(0, 0, 0); /*Fallback for older browsers*/
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  color: #fff;
  font-size: 8em;
  left: 0;
  padding-top: 300px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 100;
}

.announcement span {
  display: block;
  margin: auto;
  width: 300px;
}