<h1>Tic-Tac-Toe</h1>

<div class="game-board">
  <div>
    <div data-square="0"></div>
    <div data-square="1"></div>
    <div data-square="2"></div>
  </div>
  <div>
    <div data-square="3"></div>
    <div data-square="4"></div>
    <div data-square="5"></div>
  </div>
  <div>
    <div data-square="6"></div>
    <div data-square="7"></div>
    <div data-square="8"></div>
  </div>
</div>

<div class="game-stats">
  <div class="player-stats">
    <h3>Your Score</h3>
    <span id="player-score"></span>
  </div>
  <div class="computer-stats">
    <h3>Computer Score</h3>
    <span id="computer-score"></span>
  </div>
</div>