<h1>Tic-Tac-Toe</h1>

<div class="game-board">
  <div class="row">
    <div data-square="0" class="square"></div>
    <div data-square="1" class="square"></div>
    <div data-square="2" class="square"></div>
  </div>
  <div class="row">
    <div data-square="3" class="square"></div>
    <div data-square="4" class="square"></div>
    <div data-square="5" class="square"></div>
  </div>
  <div class="row">
    <div data-square="6" class="square"></div>
    <div data-square="7" class="square"></div>
    <div data-square="8" class="square"></div>
  </div>
</div>

<div class="hidden announcement" id="draw">
  <span>Draw</span>
</div>
<div class="hidden announcement" id="computer-win">
  <span>You Lose</span>
</div>
<!--The one below will never be needed. BAHAHAHAH. :) -->
<div class="hidden announcement" id="computer-lose">
  <span>You Win</span>
</div>

<div class="game-stats">
  <div class="player-stats">
    <h3>Your Score</h3>
    <span id="player-score">0</span>
  </div>
  <div class="computer-stats">
    <h3>Computer Score</h3>
    <span id="computer-score">0</span>
  </div>
</div>