<!DOCTYPE html>
<html>
<head>
  <title>TicTacToeMageddon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>Created by Dustin Coates (<a href="mailto:dustin@dcoates.com">dustin@dcoates.com</a>)</footer>

</body>
</html>
